@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  overflow-y: overlay;
}

.cl-internal-b3fm6y,
.cl-userButtonPopoverFooter,
.cl-internal-3fgo0t {
  display: none;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

html.loading {
  overflow: hidden;
}

body {
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #161616;
}

.month-indicator {
  transition: all 0.45s ease-in-out;
}

.studio-line .arrow-div {
  margin-right: 0;
  transition: max-width 0.6s cubic-bezier(0.19, 1, 0.22, 1),
    margin 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.studio-line {
  padding-left: 0;
  padding-right: 0;
  transition: padding 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.studio-line:hover .arrow-div {
  max-width: 24px;
  margin-right: 1.5rem;
}

.studio-line:hover {
  background-color: #f4f4f4;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
